--- 
layout: home 
---
 <div class="container">
 	<div class="row">
		<h3>FORMS TOC</h3>
		<ul>
			<li><a href="form-basic.html">A basic form</a></li>
			<li><a href="form-inline.html">Inline forms</a></li>
			<li><a href="form-inline-addon.html">Inline forms with input add-ons</a></li>
			<li><a href="form-horizontal.html">Horizontal forms</a></li>
			<li><a href="">Supported controls</a></li>
			<li><a href="">Textarea</a></li>
			<li><a href="">checkboxes and radios</a></li>
			<li><a href="">Selects</a></li>
			<li><a href="">Static control</a></li>
			<li><a href="">Input states</a></li>
			<li><a href="">Associating help with form controls</a></li>
			<li><a href="">Validation states</a></li>
			<li><a href="">Control sizing</a></li>
			<li><a href="">Height sizing</a></li>
			<li><a href="">Horizontal form group sizes</a></li>
			<li><a href="">column sizing</a></li>
		</ul> 	
 	</div>
 </div>

 