.blue {
	color: #3f6bdd;
}
.collpased {
	content: " ";
}
.box {
	height:100px;
	border:4px solid gray;
	margin-bottom: 10px;
}
.box-small {
	height:100px;
	border: 4px dotted tomato;
}
.box-xsmall {
	height:70px;
	border: 4px dotted tomato;
}
.box-xxsmall {
	height: 40px;
	border: 3px dotted brown;
}
.test {
	display: flex;
}
